<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User Details</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <% for(user of users){ %>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form method="GET" action="/user/<%=user.id%>/edit">
                        <button>Edit Username</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/new">
                        <button>Add new User</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/<%=user.id%>/delete">
                      <button>Delete</button>
                    </form>
                  </td>
            </tr>
        <% } %>
    </table>
</html>
